<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Area</title>
    <script data-main="admin/main" src="components/requirejs/require.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript"></script>
</head>
<body>
    <div ng-view></div>
    <div ng-init="friends = [{name:'John', age:25}, {name:'Mary', age:28}]">
      I have {{friends.length}} friends. They are:
      <ul>
        <li ng-repeat="friend in friends">
          {{friend.name}} who is {{friend.age}} years old.
        </li>
      </ul>
    </div>
    <script type="text/ng-template" id="users.html">
        <h1>Users</h1>
        <ul>
            <li ng-repeat="user in users">{{user.name}} | {{user.email}}</li>
        </ul>
    </script>

    <script type="text/ng-template" id="user.html">
        <h1>User</h1>
    </script>
</body>
</html>
